
    <div class="dropdown" >
        <button class="btn btn-info dropdown-toggle float-right text-left responsivLanguish" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">English</button>
            <button class="dropdown-item" type="button">Swedish</button>

        </div>
    </div>
<section class="container-fluid text-center">
<img class="responsivCv" src="~/pictures/Adia.engelska.jpg"/>
</section>