
<div class="dropdown">
    <button class="btn btn-info dropdown-toggle float-right text-left responsivLanguish " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Språk
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item" type="button" asp-controller="Cv" asp-action="Index">Engelska</a>
        <a class="dropdown-item" type="button" asp-controller="Cv" asp-action="SwedishCv">Svenska</a>

    </div>
</div>
<section class="container-fluid text-center">
    <img class="responsivCv" src="~/pictures/Cv.svenska.jpg" />
</section>
